body {

    font-family: 'Nunito Sans', sans-serif;

}

h1 {
    font-size: 50px;
}

.color {
    color: crimson;
}

.flex-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 15%;

}

.half-width img {
    width: 100%;
    padding-top: 15%;

}

#sharee-img img {
    width: 80%;
    padding-top: 15%;
    padding-right: 80%;
    padding-left: 30%;
}

.link-button {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: navajowhite;
    background-color: greenyellow;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 800;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.fix-the-aim {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}